///Variveis do sass
$purple: #a050be;
$light-grey: #eaeaeb;
$dark-grey: #464646;
$yellow: #fabb50;

/* header */
.header{
    font-family: Arial, Helvetica, sans-serif;

    &__logo {
        text-align: center;
    }// &__logo
    
    &__img {
        max-width: 350px;
    }// &__img

    .menu{
        &__list {
            display: flex;
            justify-content: center;
            border-top: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            margin-left:  auto;
            margin-right: auto;
            width: 80%;
            padding: 20px 0;
        }// &__list

        &__links{
            position: relative;
            
            &:not(:last-child)::after {
                content:"";
                position:  absolute;
                top: 0;
                bottom: 0;
                right: -3px;
                margin: auto;
                height: 15px;
                background-color: $light-grey;
            }// &:not(:last-child)::after
            
        }// &__links

        &__link{
            padding: 0 25px;
            color: $dark-grey;

             &:hover{
                color: $purple;
            }// &:hover

        }// &__link

    }// .menu

}// .header

/* Rodapé */
.footer {
    text-align: center;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &__logo {
        max-width: 100px;
    }// &__logo
    
    &__txt {
        margin: auto;
        font-size: 14px;
    }// &__txt
}// .footer

/* Main */
.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;

    &__content {
        width:  70%;
        padding: 40px 8px;
    } //&__content

    &__post {
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }// &__post

    &__title {
        text-decoration: none;
        font-size: 22px;
        color: $dark-grey;
        letter-spacing: 1.5;

        &:hover {
            color: $purple;
        }// &:hover

    }// &__title

    &__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }// &__subtitle

    &__date {
        margin: 0 10px;
        font-size: 10px;
        font-style: italic;
    }// &__date

    &__tag {
        font-size: 14px;
        padding: 5px 7px;
        color: $purple;
        border: 1px solid $purple;
        margin: 0 10px;
    }// &__tag

    &__details {
        border: 1px solid $light-grey;
    }// &__details

    &__img {
        width: 100%;
    }//&__img

    &__description {
        padding: 40px 0 25px;
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }//&__description

    &__btn {
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 1.5;
        color: $purple;
        background-color: $yellow;
        padding: 10px 20px;
        transition: .3s;

        &:hover {
            color: $yellow;
            background-color: $purple;
        }// &:hover
    
    }// & __btn

    
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $light-grey;
        margin-top: 30px;
    }// &__info

    &__author {
        width: 50%;
        border-right: 1px solid $light-grey
    }// &__author

    &__p {
        font-size: 14px;
        color: $dark-grey;
        margin-top: 10px;
        margin-bottom: 10px;
    }// &__p

    &__comments {
        width: 50%;
    }// &__comments

    &__a {
        text-decoration: none;
        font-size: 14px;
        color: $dark-grey;
        margin-top: 10px;
        margin-bottom: 10px;

        &:hover {
            color: $purple;
        }// &:hover

    }// &__a

} //.main