///Variveis do sass

// Cores
$purple: #a050be;
$light-grey: #eaeaeb;
$dark-grey: #464646;
$yellow: #fabb50;

// Tamanhos
$img-width: 45%;
$directions: top, bottom, left, right;
$layout-margin-size: 10px;
$half-width: 50%;
$full-width: 100%;

@each $direction in $directions {
    %no-margin-#{$direction} {margin-#{$direction}:0;}
    %default-margin-#{$direction} {margin-#{$direction}: $layout-margin-size;}
    %double-margin-#{$direction} {margin-#{$direction}: $layout-margin-size * 2;}
    %half-margin-#{$direction} {margin-#{$direction}: $layout-margin-size / 2;}

}

// Placeholders
%no-decoration {
    text-decoration: none;
}

%u-decoration {
    text-decoration: underline;
}

// Mixins
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flx($property, $jty-cnt) {
    display: flex;
    #{$property}: $jty-cnt;    
}

@mixin fontSize($size) {
    font-size: calculateRem($size);
}

// mixins para ajuste de tela
@mixin for-phone-only {
    @media (max-width: 767.98px) { @content; }        
}

@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199.98px) { @content; }        
}

@mixin for-desktop-only {
    @media (min-width: 1200px) { @content; }        
}

@mixin theme-collection($half-post: true) {
    @include for-phone-only {
        width: $full-width;
    }

    @if $half-post{
        width: $half-width;
    } @else {
        width: $full-width;
    }
}

@mixin font-collection($half-title: true) {
    @include for-desktop-only {
        @include fontSize(16px);
    }
    @if $half-title {
        @include fontSize(18px);
    } @else {
        @include fontSize(22px);
    }
}


// funções
@function calculateRem($size) {
    @return $size / 16px * 1rem;
}

/* header */
@import 'header';

/* main */
@import 'main';

/* about */
@import 'about';

/* article */
@import 'article';

/* collection */
@import 'collection';

/* collection */
@import 'contact';

/* footer */
@import 'footer';